

body {
        color: #343a40;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        box-sizing: border-box;

}


    h1{
        font-size: 30px;
      }
    h2 {
        font-size: 20px;
      }


#bootstrap-override.contribute-page
      .container .row {
          padding: 6px;
          box-sizing:border-box;
            }

            .form-group {
                margin-bottom: 15px;
                box-sizing: border-box;
  }
  
  .col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
