h1{
        font-size: 30px;
        font-family: 'Open Sans', sans-serif;
      }


      @media screen and (max-width: 800px) {
        .coffeecolumn {
          flex: 100%;
          max-width: 100%;
        }
